<!DOCTYPE html>
<html>
    <head>
        <title>Appointment App</title>
    </head>
    <body>
            <h1>Appontment Booking App</h1>
            <form action="/insert-user" method="post" id="my-form">
              <div class="msg"></div>
              <div>
                <label for="name">Name:</label>
                <input type="text" id="userName" name="userName">
              </div>
              <div>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email">
              </div>
              <input class="btn" type="submit" value="Submit">
            </form>
      
            <ul id="users"></ul>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
           <script> 
            async function getUsers(){
              const users = await axios.get('http://localhost:3000/get-users');
              // console.log(users);
              const parentNode = document.getElementById('users');
              users.data.forEach(user => {
                const childHTML=`<li id=${user.id}> ${user.userName} : ${user.email} 
                  <form action="/delete-user" method="POST">
                    <input type="hidden" value=${user.id} name="userId">
                    <button onclick=deleteUser(${user.id}) type="submit">Delete</button>
                  </form>
                </li>`;
                parentNode.innerHTML = parentNode.innerHTML + childHTML;
              });
            }

            async function deleteUser(userId){
              const users = await axios.post(`http://localhost:3000/delete-user`);
              getUsers();
            }

            getUsers();
         
    </script>
    </body>
</html>